<section>
    <section class="justify-center">
        {{#each families as |family|}}
        <div class="image">
            <p class="bold text-center family-name">{{family.family_name}}</p>
            <a href="/family/{{family.id}}"><img src="{{family.background_image}}"></a>
        </div>
        {{/each}}
    </section>
</section>

