<section>
    <section class="justify-center">
        <div class="image">
        {{#each family}}
            <p class="bold text-center family-name">{{family_name}}</p>
            <img src={{background_image}} alt="violin">
        </div>
        {{#each}}
    </section>
</section>
