<div class="login-card">
    <h2 class="page-title">What do you want to sell?</h2>
    <form class="form sell-form">
        <div class="form-group">
            <label for="username-signup">Family:</label>
            <select name="family" id="family">
                <option value="1">Strings</option>
                <option value="2">Brass</option>
                <option value="3">Woodwind</option>
                <option value="4">Percussion</option>
            </select>
        </div>
        <div class="form-group">
            <label>Instrument Name:</label>
            <input class="form-input" type="text" id="instrument-name" />
        </div>
        <div class="form-group">
            <label>Description:</label>
            <input class="form-input" type="text" id="description" />
        </div>
        {{!-- <div class="form-group">
            <label for="myfile">Add your image:</label>
            <input type="file" id="myfile" name="myfile"><br><br>
        </div> --}}
        <div class="form-group">
            <label>Price: in AUD</label>
            <input class="form-input" type="number" id="price" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Sell!</button>
        </div>
    </form>
</div>

<script src="./js/sell.js"></script>
